* {
	margin: 0px;
	padding: 0px;
	border-style: border-box;
}

body {
	background-color: #ADD8E6;
	font-family: "Palatino", san-seriff;
	font-size: 18px;
	margin: 0px auto;
	text-align: center;
	color: black;
}

h1 {
	text-decoration: normal;
	font-size: 2em;
	color: black;
	margin-bottom: 50px;
}

h2 {
	text-decoration: underline;
	font-size: 1.5em;
	color: black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.text {
	background-color: #E8E8E8;
	font-family: "Palatino", san-seriff;
	font-size: 18px;
	margin: 0px auto;
	text-align: center;
	color: black;
}

.list {
	width: 200px;
	margin: 20px auto;
}

.imagespecs1 {
	margin: 20px;
}

.imagespecs2 {
	margin: 20px;
	border: 1px solid black;
	border-radius: 5px;
}

.structure {
	overflow: hidden;
	background-color: #E8E8E8;
	width: 1400px;
	padding: 20px;
	border-style: border-box;
	text-align: center;
	margin: 10px auto;
	border: 1px black solid;
}

.sidebar {
	float: left;
	Overflow: hidden;
	height: 300px;
	width: 200px;
	background-color: #E8E8E8;
	border: 1px solid black;
	margin-top: 227px;
}

.hiddensidebar {
	float: right;
	Overflow: hidden;
	height: 300px;
	width: 200px;
}

.column {
	background-color: white;
	text-align: center;
	Border: 1px Solid black;
	Border-Radius: 2px;
	margin:5px;
}

.bioheader {
	background-color: #E8E8E8;
	width: 600px;
	text-align: center;
	margin: 20px auto;
	overflow: hidden;
	border: 1px solid black;
}

.headerinfo2 {
	background-color: white;
	text-align: center;
	Border: 1px Solid black;
	Border-Radius: 2px;
	margin:5px auto;
	font-family: "Palatino", san-seriff;
	font-size: 18px;
	width: 400px;
}

.footer {
	background-color: #E8E8E8;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 0px;
	height: 50px;
}

.footerinfo {
	background-color: white;
	text-align: center;
	border: 1px solid black;
	Border-Radius: 2px;
	width: 300px;
	margin: 10px auto;
	padding: 5px;
}

.bodyleft {
	float: left;
	overflow: hidden;
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;
	margin: 20px;
	padding: 10px;
}

.bodyright {
	float: right;
	overflow: hidden;
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;
	margin: 20px;
	padding: 10px;
}